*.pyc

# Binary & Visual Studio files
*.sqlite
*.rsuser
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
.vs/
VSWorkspaceState.json
*.pyproj
/.vscode/launch.json
/.pytest_cache/*

# Visual Studio Code
.vscode/

# The reStructuredText extension to Visual Studio Code
_build/
_sources
*.doctree
*.pickle
objects.inv
.buildinfo